docutils>=0.19,<1.0
flake8>=6.0.0,<6.1
FormEncode>=2.0.1,<2.1
pytest>=7.2.1,<7.3
pytest-benchmark[histogram]>=4.0.0,<4.1
pytest-cov>=4.0.0,<4.1
pytest-flake8>=1.1.1,<1.2
pytest-mock>=3.10.0,<3.11
Sphinx>=5.3.0,<5.4
